# Dependency directories
node_modules

# IDE / Editor folders
.vscode
.idea

# Build directories
dist

# Environment files
.env

# Log files
npm-debug.log
yarn-error.log

# Operating system files
.DS_Store
Thumbs.db
